.icon-envelope-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -727px -62px;
    width: 24px;
    height: 16px;;
    display: inline-block !important;
}

.icon-bell-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -217px -18px;
    width: 23px;
    height: 25px;;
    display: inline-block !important;
}

.icon-task-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -517px -102px;
    width: 23px;
    height: 16px;;
    display: inline-block !important;
}

.icon-dashboard-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -15px -17px;
    width: 24px;
    height: 24px;
    display: inline-block !important;
}

.icon-charts-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -136px -98px;
    width: 24px;
    height: 24px;
    display: inline-block !important;
}

.icon-calendar-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -435px -138px;
    width: 24px;
    height: 22px;
    display: inline-block !important;
}

.icon-login-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -687px -59px;
    width: 23px;
    height: 23px;
    display: inline-block !important;
}

.icon-map-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -519px -134px;
    width: 19px;
    height: 29px;
    display: inline-block !important;
}

.icon-widget-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -357px -19px;
    width: 22px;
    height: 22px;
    display: inline-block !important;
}

.icon-uikit-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -135px -57px;
    width: 24px;
    height: 24px;
    display: inline-block !important;
}

.icon-pages-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -729px -18px;
    width: 21px;
    height: 25px;
    display: inline-block !important;
}

.icon-form-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -55px -102px;
    width: 26px;
    height: 18px;
    display: inline-block !important;
}

.icon-table-l {
    background: url('../../images/adminPanel/line-icon.png') no-repeat -807px -140px;
    width: 26px;
    height: 20px;
    display: inline-block !important;
}

/*Hover*/
.icon-envelope-l:hover, .icon-envelope-l.active {
    background: url('../../images/adminPanel/line-icon-hover.png') no-repeat -727px -62px;
    width: 24px;
    height: 16px;
    display: inline-block !important;
}

.icon-bell-l:hover {
    background: url('../../images/adminPanel/line-icon-hover.png') no-repeat -217px -18px;
    width: 23px;
    height: 25px;
    display: inline-block !important;
}

.icon-task-l:hover {
    background: url('../../images/adminPanel/line-icon-hover.png') no-repeat -517px -102px;
    width: 23px;
    height: 16px;
    display: inline-block !important;
}